/* define variables for the primary colors */
/* use the variables */
/* line 8, ../../scss/style.scss */
body {
  background-color: #070992;
  position: relative;
  display: block;
  margin: 25px;
}

/* line 16, ../../scss/style.scss */
h1 {
  color: #ffe600;
  font-family: verdana;
  font-size: 300%;
}

/* line 21, ../../scss/style.scss */
h2, form {
  position: relative;
  display: block;
  color: #ffe600;
  font-family: courier;
  font-size: 160%;
  border: 2px solid #ffe600;
  padding: 10px;
  margin: 5 auto;
  width: 50%;
  text-align: center;
}

/* line 34, ../../scss/style.scss */
input, button, table {
  position: relative;
  margin: 5px auto;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  font-size: large;
}

/* line 44, ../../scss/style.scss */
.city {
  background-color: #2bf103;
  color: #ffe600;
  border: 2px solid #2bf103;
  margin: 20px;
  padding: 20px;
}

/* line 52, ../../scss/style.scss */
li {
  color: #2bf103;
}

/* line 55, ../../scss/style.scss */
li a {
  color: #2bf103;
}

/* line 59, ../../scss/style.scss */
.vote_option {
  color: #2bf103;
}

/* line 63, ../../scss/style.scss */
a {
  color: #ffe600;
}

/* line 67, ../../scss/style.scss */
p {
  position: relative;
  display: block;
  margin: 5px auto;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  font-size: medium;
  text-align: center;
  color: white;
}

/* line 79, ../../scss/style.scss */
td {
  color: white;
  text-align: center;
}
