/* define variables for the primary colors */
/* use the variables */
/* line 9, ../../scss/style.scss */
:root {
  box-sizing: border-box;
}

/* line 13, ../../scss/style.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 22, ../../scss/style.scss */
body {
  font-family: courier;
  background-color: #000000;
  position: relative;
  display: block;
  margin: 10px;
}

/* line 30, ../../scss/style.scss */
p, h1, h2, h3, ul, li {
  color: #ffffff;
  text-align: center;
}

/* line 35, ../../scss/style.scss */
td {
  color: #ffffff;
}

/* line 39, ../../scss/style.scss */
a {
  color: blue;
}

/* line 43, ../../scss/style.scss */
table, th, td {
  border: None;
}

/* line 47, ../../scss/style.scss */
table {
  margin-left: auto;
  margin-right: auto;
}

/* line 52, ../../scss/style.scss */
form {
  text-align: center;
}

/* line 56, ../../scss/style.scss */
textarea {
  width: 60%;
  height: 100px;
}

/* line 60, ../../scss/style.scss */
input, table {
  appearance: None;
  width: 80%;
  height: 50px;
  padding-left: 15px;
  padding-right: 30px;
}

/* line 69, ../../scss/style.scss */
#login_button {
  appearance: None;
  width: 80%;
}

/* line 74, ../../scss/style.scss */
#post_button {
  appearance: None;
  width: 10%;
  float: right;
  margin-right: 20%;
  color: #000000;
  height: 30px;
}

/* line 82, ../../scss/style.scss */
td:first-child {
  width: 30%;
  text-align: right;
}

/* line 87, ../../scss/style.scss */
td:first-child + td {
  width: 70%;
}

/* line 91, ../../scss/style.scss */
input::placeholder {
  color: red;
}

/* line 95, ../../scss/style.scss */
input[type="text"] {
  color: red;
}

/* line 99, ../../scss/style.scss */
input[type="password"] {
  color: red;
}

/* line 103, ../../scss/style.scss */
input[type="submit"] {
  color: red;
  appearance: None;
}
