/* define variables for the primary colors */
$primary_1: #000000;
$primary_2: #ffffff;
$input_placeholder: #837b7b;
$link_color: rgb(56, 174, 221);
/* use the variables */


// Ensure input boxes are border-box and not padding pox (deafult) because those behave wildly
:root {
  box-sizing: border-box;
}

*,
*::before,

*::after {
  box-sizing: inherit;
}

// end border-box stuff


body {
  font-family: courier;
  background-color: $primary_1;
  position: relative;
  display: block;
  margin: 10px;
}

p, h1, h2, h3, ul, li {
  color: $primary_2;
  text-align: center;
}

td {
  color: $primary_2;
}

a {
  color: $link_color;
}

table, th, td {
  border: None;
}

table {
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center; // Aligns the inputs to center
}

textarea {
  width: 60%;
  height: 100px;
}
input, table {
  // appearance: None;
  width: 80%;
  height: 50px;

}

input {
  padding-left: 15px;
  padding-right: 30px;
}

table {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding-left: 0px;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;

}

#login_button {
  width: 80%;
}

#post_button {
  width: 10%;
  float: right;
  margin-right: 20%;
  color: #000000;
  height: 30px;
}
td:first-child {
  width: 30%;
  text-align: right;
}

td:first-child + td{
  width: 70%;
}

input {
  margin-bottom: 5px;
  appearance: none; // Should take care of webkit styles getting in the way
  -webkit-appearance: none !important;
  border: white;
}

input::placeholder {
  color: $input_placeholder;
  font-size: 16px;
}

input[type="text"] { 
  color: $input_placeholder;

 }
input[type="password"] { 
  color: $input_placeholder;

 }
input[type="submit"] { 
  appearance: none; // Should take care of webkit styles getting in the way
  -webkit-appearance: none !important;
  color: white;
  background-color: gray;
  font-size: 16px;

 }

 .start_section {
  padding-top: 15px;
  padding-bottom: 15px;
 }