/* define variables for the primary colors */
$primary_1: #070992;
$primary_2: #ffe600;
$primary_3: #2bf103;

/* use the variables */

body {
    // background: white url("../img/dog.jpg") no-repeat;
    background-color: $primary_1;
  }
  h1 {
    color: $primary_2;
    font-family: verdana;
    font-size: 300%;
  }
  p, form {
    color: $primary_2;
    font-family: courier;
    font-size: 160%;
    border: 2px solid $primary_2;
    padding: 30px;
    margin: 50px;
  }
  
  .city {
    background-color: $primary_3;
    color: $primary_2;
    border: 2px solid $primary_3;
    margin: 20px;
    padding: 20px;
  }

  li {
    color: $primary_3;
  }
  li a {
    color: $primary_3;
}

.vote_option {
  color: $primary_3
}

a {
  color: $primary_2
}