/* define variables for the primary colors */
$primary_1: #000000;
$primary_2: #ffffff;

/* use the variables */


// Ensure input boxes are border-box and not padding pox (deafult) because those behave wildly
:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// end border-box stuff


body {
  font-family: courier;
  background-color: $primary_1;
  position: relative;
  display: block;
  margin: 10px;
}

p, h1, h2, h3, ul, li {
  color: $primary_2;
  text-align: center;
}

td {
  color: $primary_2;
}

a {
  color: blue;
}

table, th, td {
  border: None;
}

table {
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center; // Aligns the inputs to center
}

textarea {
  width: 60%;
  height: 100px;
}
input, table {
  appearance: None;
  width: 80%;
  height: 50px;
  padding-left: 15px;
  padding-right: 30px;

}

#login_button {
  appearance: None;
  width: 80%;
}

#post_button {
  appearance: None;
  width: 10%;
  float: right;
  margin-right: 20%;
  color: #000000;
  height: 30px;
}
td:first-child {
  width: 30%;
  text-align: right;
}

td:first-child + td{
  width: 70%;
}

input::placeholder {
  color: red;
}

input[type="text"] { 
  color: red;

 }
input[type="password"] { 
  color: red;

 }
input[type="submit"] { 
  color: orange;
  appearance: None;
  background-color: gray;

 }
