{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="{% static 'js/signUpController.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-controller="signUpCtrl">
    <h1 class="start_section"> Check your email!</h1>
    <p class="start_section"> Activation email sent to:</p> 
    <p>{{ email }}</p>
    <p class="start_section"> Wrong email? <a href="/">Start over</a>. </p>
    
</body>

