{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="{% static 'js/signUpController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
</head>
<body>
    <p> Sign up to SKunKw0rx</p>
    <form id="signup_form" method="POST" ng-app="signUpApp" ng-controller="signUpCtrl" autocomplete="off">
        {% csrf_token %}
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <input type="text" ng-model="firstname" placeholder="First Name" required="required" data-lpignore="true"><br><br>
        <input type="text" ng-model="lastname" placeholder="Last Name" required="required" data-lpignore="true"><br><br>
        <input type="email" ng-model="email" placeholder="email address" required="required" data-lpignore="true"><br><br>
        <input type="password" id="password" ng-model="password" placeholder="create a password" required="required" data-lpignore="true"><br><br>
        <input type="password" id="password_confirm" ng-model="password_confirm" placeholder="repeat password" required="required" data-lpignore="true" oninput="check()"/><br><br>
        <button ng-click="signUp($event)">Sign up</button>

    </form> 
</body>

