{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="{% static 'js/signUpController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>

<!-- Take care of view port zooming for iphone-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
    if(navigator.userAgent.indexOf('iPhone') > -1 )
{
    document
      .querySelector("[name=viewport]")
      .setAttribute("content","width=device-width, initial-scale=1, maximum-scale=1");
}
</script>
<!-- Take care of view port zooming -->

</head>

<body>
    {% if error %}
    <p>THERE WAS AN ERROR!</p>
    {% endif %}

    <div style="width: 100%; height: 30px;"><a style="float: right; margin-right: 10%;"href="{% url 'login' %}">Log in</a> </div>
    <img id="logo" src ="{% static 'img/pepe.jpg' %}" style="display: block; margin: auto; height: 100px; width: 100px;">
    
    <h2> Sign up to SKunKw0rx</h2>
    <form id="signup_form" method="POST" ng-app="signUpApp" ng-controller="signUpCtrl" autocomplete="off">
        {% csrf_token %}
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <input type="text" ng-model="firstname" placeholder="first name" required="required" data-lpignore="true">
        <input type="text" ng-model="lastname" placeholder="last name" required="required" data-lpignore="true">
        <input type="email" ng-model="email" placeholder="email address" required="required" data-lpignore="true">
        <input type="password" id="password" ng-model="password" placeholder="create a password" required="required" data-lpignore="true">
        <input type="password" id="password_confirm" ng-model="password_confirm" placeholder="repeat password" required="required" data-lpignore="true" oninput="check()"/>
        <input type="submit" value="Sign up" ng-hide="hide_button" ng-click="signUp($event)">
        <p ng-hide="hide_processing_text" [disabled]="!ngForm.valid"> Signing up (takes a min...)</p>
        <p style="font-size: small; color: red;"ng-bind="error_msg"></p>
    </form>
    <p class="start_section">Already a member? <a href="{% url 'login' %}">Log In</a></p>
    <hr>
    <h2 class="start_section"> About this site</h2>
    <p> This is my Hello World Django site.<br>
        Features: Create  account, write and view posts.<br>
        Mobile friendly, responsive design.<br><br>
        While feature thin, the stack is production ready.<br><br>
        <a class="start_section" href="https://github.com/talisaar/skunkworx/" target=”_blank”>view on Github</a>
    </p>
    <h3 class="start_section"> Tech stack</h3>
    <ul>
    <li>Django on backend</li>
    <li>Angular JS</li>
    <li>Django REST framework</li>
    <li>Served w&#47;Gunicorn & NGINX</li>
    <li>Stored on EC2</li>

    <h3 class="start_section"> Other stuff used</h3>

    <li>AWS Route53</li>
    <li>AWS SES</li>
    <li>Postgresql db</li>
    <li>Scss + Compass</li>
    </ul>
    <div id="footer"></div>
</body>

