{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="{% static 'js/signUpController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
</head>
<body>
    <div id="logo_box">
        <img src ="{% static 'img/pepe.jpg' %}" style="display: block; margin: auto; height: 100px; width: 100px;">
    </div>
    
    <h3> Welcome to SKunKw0rx</h>
    <form id="signup_form" method="POST" ng-app="signUpApp" ng-controller="signUpCtrl" autocomplete="off">
        {% csrf_token %}
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <input type="text" ng-model="firstname" placeholder="First Name" required="required" data-lpignore="true">
        <input type="text" ng-model="lastname" placeholder="Last Name" required="required" data-lpignore="true">
        <input type="email" ng-model="email" placeholder="email address" required="required" data-lpignore="true">
        <input type="password" id="password" ng-model="password" placeholder="create a password" required="required" data-lpignore="true">
        <input type="password" id="password_confirm" ng-model="password_confirm" placeholder="repeat password" required="required" data-lpignore="true" oninput="check()"/>
        <button ng-hide="hide_button" ng-click="signUp($event)">Sign up</button>
        <p ng-hide="hide_processing_text" [disabled]="!ngForm.valid"> Signing up (takes a min...)</p>
    </form>
    <p class="start_section">Already a member? <a href="{% url 'login' %}">Log In</a></p>
    <hr class="start_section">
    <h3 class="start_section"> About this site</h3>
    <p> This is my Hello World site in Django.<br>
        Features: Create  account, write and view posts.<br>
        While feature thin, the stack is production ready.<br><br>
        <a class="start_section" style="color: rgb(90, 128, 255)" href="https://github.com/talisaar/skunkworx/" target=”_blank”>view on Github</a>
    </p>
    <h3 class="start_section"> Tech stack</h3>
    <ul>
    <li>Django on backend</li>
    <li>Angular JS on front &#40;+DRF&#41;</li>
    <li>Served from ec2 with Gunicorn & NGINX</li>
    <li>AWS: route53 & elastic IP</li>
    <li>Postgresql db</li>
    <li>Compass CSS</li>
    </ul>
    <div id="footer"></div>
</body>

