{% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="{% static 'js/postController.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="postApp" ng-controller="postCtrl" autocomplete="off" ng-init="user='{{ user }}'; is_authenticated='{{ user.is_authenticated}}'">

<form id = "logout_form" action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button id="logout_button" type="submit" ng-hide="is_authenticated == 'False'">Log out</button>
    <br>
    <br>
</form>

<p ng-hide="is_authenticated == 'False'">{{ user.first_name }}, post something skunky:</p>

<form id="post_form" method="POST">
    {% csrf_token %}
    <textarea id="post_box" ng-hide="is_authenticated == 'False'" ng-model="post_content_text" name="post_content" form="post_form", placeholder="Write a funny post" maxlength="140"></textarea><br>
    <input id="post_button" type="submit" value="Submit post" ng-hide="is_authenticated == 'False'" ng-hide="hide_button" ng-click="createPost($event)">
</form>
<p ng-hide="is_authenticated == 'True'" style="color:aliceblue"> Please <a href="{% url 'homepage:index' %}">Sign up</a> or <a href="{% url 'login' %}">Log In</a> to write a post </p>

<br>
<br>
<h1>SKunKw0rx feed</h1>
<br>

{% block posts_feed %}
    {% for post, owner in posts_and_owners %}
    <hr>
    <br>
    <p id="post_owner" style="font-size: snall; color: rgb(56, 174, 221);">{{ owner.first_name }} wrote:</p>
    <p id="post_content">{{ post.content }}</p>
    <br>
    {% endfor %}

{% endblock posts_feed %}

<br>
</body>