<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">

<meta name="viewport"

content="width=device-width, initial-scale=1">

<style>

h2 {

/* WebKit */

-webkit-appearance: button !important;

/* Mozilla */

-moz-appearance: button;

/* Opera */

-o-appearance: button;

/* Internet Explorer */

-ms-appearance: button;

/* CSS3 */

appearance: button;

width: 300px;

padding: 5em;

color: #f00;

}

</style>

</head>

<body>

<center>

<h1 style="color:green; padding:15px;">

marketingSynonym

</h1>

<p>Webkit-Appearance Button of HTML H2 tag</p>

<br>

<h2>Welcome to MarketingSynonym</h2>

<p>HTML Button tag</p>

<br>

<br>

<button>Welcome to MarketingSynonym</button>

</center>

</body>

</html>

